doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='width=device-width , initial-scale=1')
		meta(name='description' , content='')
		meta(name='keywords' , content='')
		title High Restaraunt Consulting - Поможем открыть заведение Вашей мечты
		link(rel='icon' , href='favicon.ico' type='image/x-icon')
		link(rel='stylesheet' , href='css/animate.css')
		link(rel='stylesheet' , href='css/style.css')
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body

		section.intro
			.container
				.video__wrapper
					.video__background
						iframe(src="https://www.youtube.com/embed/jxqh9vMzhCM?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=jxqh9vMzhCM" , frameborder="0" , allowfullscreen)
				.video__describe
					a(href="index.html").logo
						img(src="images/logo_w@2x.png", alt="logo")
					h1 Откроем «под ключ» и выведем <br> в прибыль <span id="change-word"></span>
					h3 Анализируем рынок, разрабатываем концепцию и позиционирование, подбираем помещение и персонал, контролируем подрядчиков, автоматизируем процессы и операционную часть
					a(href="#").primary__btn Получить бесплатную консультацию
					p После консультации вы получите финансовую стратегию заведения на 2 года вперёд

		section.about-us
			.container
				.about__us__video
					iframe(width="100%" , height="100%" src="https://www.youtube.com/embed/T49gLoFNZKQ?rel=0&amp;controls=0" , frameborder="0" , allow="autoplay; encrypted-media" , allowfullscreen)
		section.cta
			.container
				h2 Бесплатно проконсультируем и составим <br> финансовую стратегию на 2 года вперёд
				a(href="#").primary__btn Получить бесплатную консультацию

		section.prevelige
			.container
				h2.font-bold.text-center Сэкономим до 30% от сметы на старте и поможем избежать дорогостоящих ошибок в процессе работы заведения
				h3.text-center Берёмся только за проекты, в которых уверены на 100% и юридически гарантируем финансовый результат

				.row
					.item
						.item__img
							img(src="images/1.jpg", alt="image")
						p.item__title Концепция
						p Анализируем рынок и строим внеконкурентную концепцию и модель позиционирования будущего заведения

					.item
						.item__img
							img(src="images/2.jpg", alt="image")
						p.item__title Помещение
						p Подбираем оптимальное заведение с учётом населения и специфики концепции

					.item
						.item__img
							img(src="images/3.jpg", alt="image")
						p.item__title Подрядчики
						p Ведём поиск и контролируем подрядчиков на всех этапах сотрудничества

					.item
						.item__img
							img(src="images/4.jpg", alt="image")
						p.item__title Поставщики
						p Выбираем оптимальных поставщиков по каждому направлению

				.row
					.item
						.item__img
							img(src="images/5.jpg", alt="image")
						p.item__title Персонал
						p Нанимаем и обучаем обслуживающий и управленческий персонал

					.item
						.item__img
							img(src="images/6.jpg", alt="image")
						p.item__title Маркетинг
						p Проводим маркетинговые исследования, внедряем и контролируем стратегию

					.item
						.item__img
							img(src="images/7.jpg", alt="image")
						p.item__title Автоматизация
						p Автоматизируем процессы для эффективного управления заведением

					.item
						.item__img
							img(src="images/8.jpg", alt="image")
						p.item__title Управление
						p Берём операционную часть на себя и выводим заведение в прибыль

			hr.divider

		section.projects
			.container
				h2.font-bold.text-center Выполненные проекты
				h3.text-center За 4 года работы в ресторанном бизнесе помогли выйти в прибыль 13 заведениям по всей Украине

				.cases-container
					.arrow-left.shadow
					.arrow-right.shadow
					.cases
						.case-item.animated
							img(src="images/case1.png" , alt="").case-image
							.shadow.case-description
								.number 01
								h3 Old Pal Bar
								p.adress <i></i>Днепр, Сечевых Стрельцов 3-А
								p.aim
									span.black Цель - 
									|Открытие стильного бара, с сочитанием изысканых <br> коктейлей и простых закусок.

						.case-item.animated
							img(src="images/case2.png" , alt="").case-image
							.shadow.case-description
								.number 02
								h3 Креативная ресторация Терновник
								p.adress <i></i>Кривой рог, Металлургов 20
								p.aim
									span.black Цель - 
									|Открытие кафе с теплой и уютной атмосферой,<br> которая придется по душе каждому.

						.case-item.animated
							img(src="images/case3.png" , alt="").case-image
							.shadow.case-description
								.number 03
								h3 Дымный Lounge Bar
								p.adress <i></i>Киев, Антоновича 165
								p.aim
									span.black Цель - 
									|Открытие кальян-бара, для себя. В центре Киева, с минимальными вложениями.

		section#cta.consultation
			.container
				.wrap__form
					h2.font-bold Получите бесплатную консультацию
					p Мы ответим на все ваши вопросы и составим финансовую стратегию заведения на 2 года вперёд
					form(action="#")
						.form__el
							input(type="text" , placeholder="Ваше имя")
						.form__el
							input(type="text" , placeholder="Ваш телефон")
						.form__el
							input(type="text" , placeholder="Ваш e-mail")
						.form__el
							input(type="submit" , value="Получить бесплатную консультацию").primary__btn

		footer
			.container
				.row
					a(href="index.html").footer__logo
						img(src="images/logo_b@2x.png", alt="footer logo")

					.footer__contact
						span.phone +38 (093) 507-05-57

				.row.copyright
					p © 2018 HIGH Restaurant Consulting
					a(href="mailto: high.restconsult@gmail.com") high.restconsult@gmail.com

		// jQuery
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" , integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" , crossorigin="anonymous")

		// Typed plugin
		script(src="js/typed.min.js")
				
		// Main script
		script(src='js/main.js')